application.log*
application/assets/*
!application/assets/README
!application/assets/*.xls
!application/assets/*.xlsx
!application/assets/*.exe
application/protected/runtime/*
!application/protected/runtime/Null
.idea/*
state.bin
.buildpath
.project
.settings/
nbproject/
