application.log*
application/assets/*
!application/assets/README
!application/assets/*.xls
!application/assets/*.xlsx
!application/assets/*.exe
/nbproject/
.idea/*
state.bin
.buildpath
.project
.settings/
nbproject/
/application/protected/views/scenic/scenic/view.php.rej
